/* --------navbar----------*/

.bg-theme{
  background-color: #1287a5;
}
.cart-icon{
  font-size: 2rem ;
}

/*---------hero section-------*/
.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning{
  padding:10px 45px;

}

/*-------------about----------*/
.about-background{
  min-height: 30vh;
}